pkgbase = zig
	pkgdesc = a general-purpose programming language and toolchain for maintaining robust, optimal, and reusable software
	pkgver = 0.17.0_dev.304+g9787df942
	pkgrel = 1
	url = https://ziglang.org/
	arch = x86_64
	groups = modified
	license = MIT
	checkdepends = lib32-glibc
	makedepends = cmake
	makedepends = llvm
	depends = clang
	depends = lld
	depends = llvm-libs
	options = !lto
	options = !debug
	source = https://ziglang.org/builds/zig-0.17.0-dev.304+9787df942.tar.xz
	sha256sums = a31bed0b73277431c15214bef7808e37d0c1233fd9ba981f80bc98409a18435e

pkgname = zig
