pkgbase = zig
	pkgdesc = a general-purpose programming language and toolchain for maintaining robust, optimal, and reusable software
	pkgver = 0.17.0_dev.228+gce198b7c2
	pkgrel = 1
	url = https://ziglang.org/
	arch = x86_64
	groups = modified
	license = MIT
	checkdepends = lib32-glibc
	makedepends = cmake
	makedepends = llvm
	depends = clang
	depends = lld
	depends = llvm-libs
	options = !lto
	source = https://ziglang.org/builds/zig-0.17.0-dev.228+ce198b7c2.tar.xz
	sha256sums = c793e341df8d813dc79329b209024f7a9b0c07215471888d3c257cce6818915e

pkgname = zig
